.section-experts {
  width: 100%;
  min-width: 1024px;
  height: 757px;
  background-color: #F9F9F9;
}

.experts__title {
  padding-top: 140px;
  width: 300px;
  margin: 0 auto;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #3499AF;

  margin-bottom: 86px;
}
